@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-info: #8950FC; 
}

:root {
    --ezs-theme-color: #F7B54F;
    --f7-font-family: 'Be Vietnam Pro', sans-serif;

    --f7-page-bg-color: #eef3ff;
    
    --f7-navbar-height: 48px;
    --f7-subnavbar-height: 48px;
    --f7-navbar-bg-color: var(--ezs-theme-color);
    --f7-navbar-border-color: "#f5d49f";
    --f7-subnavbar-border-color: "#ebedf4";

    --f7-toolbar-height: 48px;

    --f7-button-fill-pressed-bg-color: #f1bc68;

    --f7-tabbar-link-active-color: var(--ezs-theme-color);

    --f7-button-large-font-size: 15px;
    --f7-button-large-font-weight: 600;
    --f7-button-large-height: 46px;

    --f7-dialog-button-strong-font-weight: 400;
    --f7-dialog-button-font-size: 16px;

    --f7-calendar-week-header-height: 45px;
    --f7-calendar-day-size: 40px;
    --f7-calendar-selected-bg-color: var(--ezs-theme-color);
    --f7-calendar-today-bg-color: #F3F6F9;

    --f7-actions-button-font-size: 15px;
    --f7-actions-button-height: 50px;
    --f7-actions-button-text-color: "#3f4254";

    --f7-sheet-border-radius: 16px;

    --f7-toggle-inactive-border-color: #EBEDF3;
    --f7-toggle-inactive-bg-color: transparent;

    --f7-actions-bg-color: #fff;
    --f7-actions-grid-button-font-size: 15px;

    --f7-subnavbar-bg-color: #fff;

    --f7-popover-bg-color: #fff;

    --f7-photobrowser-bars-bg-color: var(--ezs-theme-color);
    --f7-photobrowser-bars-text-color: #fff;
    --f7-photobrowser-bars-link-color: #fff;
    --f7-photobrowser-caption-light-text-color: #fff;

    --f7-timeline-margin-vertical: 0;
    --f7-timeline-padding-horizontal: 0;

    --f7-text-editor-margin: 0;
    --f7-text-editor-padding: 16px;
    --f7-text-editor-height: 180px;

    --ezs-safe-area-bottom: var(--f7-safe-area-bottom);
    --ezs-safe-area-top: var(--f7-safe-area-top);

    --fc-border-color: #d6d7da;
    --fc-today-bg-color: #fff;
    --fc-small-font-size: 13px;

    --f7-panel-left-width: 300px;

    /* --f7-page-transition-duration: 12000ms;
    --f7-page-cover-transition-duration: 12000ms;
    --f7-page-push-transition-duration: 12000ms;
    --f7-page-swipeback-transition-duration: 12000ms;
    --f7-page-parallax-transition-duration: 12000ms; */
}

/* Page */    

.page-shadow-effect {
    background: transparent;
}

.page-content::-webkit-scrollbar {
  display: none;
}

.page-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Page Content*/
.page.page-current .page-scrollbar {
    transition: all .2s ease-in-out;
    transform: translateY(var(--keyboard-translate, 0));
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Toolbar */

.toolbar-ezs~.page {
    --f7-page-toolbar-bottom-offset: var(--f7-toolbar-height);
}

.no-toolbar>.page-content {
    --f7-safe-area-bottom: 0;
}

.tabbar {
    --f7-safe-area-bottom: 0
}

.toolbar-hidden .icon-in-out {
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms;
}

/* Navbar */

.navbar-hidden {
    transform: translate3d(0, calc(-1 * (var(--f7-navbar-height) + var(--ezs-safe-area-top))), 0);
}

.no-navbar>.page-content {
    --f7-page-navbar-offset: 0;
}

.navbar-previous .navbar-custom {
    @apply opacity-0;
}

/* Input */

.input input,
.input textarea {
    @apply w-full py-3 px-4 border transition focus:border-primary font-normal border-[#d5d7da] shadow-[0_4px_6px_0_rgba(16,25,40,.06)] block
}

.input {
    @apply relative
}

input:disabled {
    @apply bg-[#f0f0f0]
}

.input .input-clear-button {
    @apply absolute w-12 h-[47px] right-0 top-0 opacity-0
}

.input.input-with-value .input-clear-button {
    @apply opacity-100
}

.input .input-clear-button:after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-2 h-2"> <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path> </svg>');
    @apply w-5 h-5 left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 absolute text-muted
}

.input.input-invalid input,
.input.input-invalid textarea {
    @apply border-danger focus:border-primary
}

.input.input-invalid .input-error-message {
    @apply mt-1.5 text-xs text-danger font-light
}

.hidden-error-message .input-invalid ~ .input-error-message {
    @apply !hidden
}

.input-number-format {
    
}

.text-editor {
    @apply shadow-[0_4px_6px_0_rgba(16,25,40,.06)] rounded
}

.text-editor ul {
    list-style: disc;
    padding-left: 16px;
}
.text-editor ol {
    list-style: decimal;
    padding-left: 16px;
}

.text-editor.text-editor-resizable {
    min-height: 180px;
}

.text-editor-toolbar {
    @apply rounded-t
}

.text-editor-toolbar:empty {
    @apply hidden
}

.hidden-toolbar .text-editor-toolbar {
    @apply !hidden
}

.text-editor-error.text-editor {
    @apply !border-danger
}


/* Button */

.button > i + span, .button > span + span, .button > span ~ i {
    @apply ml-0
}

/* Dialog */
.ios .dialog-title+.dialog-text {
    word-break: break-word;
}

.dialog-backdrop {
    z-index: 135001;
}

.dialog {
    z-index: 135002;
}

.dialog-title {
    @apply mb-1
}

/* Sheet Modal */

.sheet-modal .sheet-modal-inner {
    padding-bottom: var(--keyboard-translate-sheet-modal, 0);
    transition: padding 250ms ease;
}

.scrollbar-modal {
    padding-bottom: var(--keyboard-translate-sheet-modal-scrollbar, 0);
    transition: padding 250ms ease;
}

/* Actions */

.actions-button {
    @apply font-medium
}
.actions-button.disabled {
    @apply !opacity-100 text-app
}

/* Calendar */

.calendar-day-number {
    @apply flex items-center justify-center !rounded-lg
}

/* / Pull To Refresh / */
.ezs-ptr.ezs-ptr-white .lds-ellipsis div {
    @apply !bg-white;
}

.ezs-ptr .lds-ellipsis div {
    @apply !bg-app;
}

.ezs-ptr .ptr__pull-down--pull-more {
    display: none !important;
}

/* Toastify */
.Toastify {
    @apply relative z-[1250000]
}

/* */
.reset-content ul,
.reset-content ol {
    list-style: revert;
    @apply pl-4
}
.reset-content blockquote {
    @apply bg-[#F3F6F9] py-3 px-4 border-l-4 border-app italic
}

/* Popover */

.popover.modal-in {
    pointer-events: auto;
}

.popover {
    pointer-events: none;
}

.popover-backdrop {
    z-index: 130000;
}

.popover {
    z-index: 1350000;
}

.popover-backdrop ~ .popover-backdrop.popover-backdrop-unique {
    z-index: 1350000;
}

/* FullCalendar */

.fc {
    @apply h-full
}

.fc-event::after {
    inset: -1px;
    content: "";
    position: absolute;
    z-index: 1;
}

.fc-event::before {
    inset: 0px;
    content: "";
    position: absolute;
    z-index: 3;
}

.fc .fc-timegrid-slot {
    @apply h-12 relative after:content-[''] after:absolute after:w-full after:border-t after:border-dotted after:border-[var(--fc-border-color)] after:top-2/4 after:-translate-y-2/4
}

.fc .fc-timegrid-slot-label {
    @apply align-baseline
}

.fc .fc-scrollgrid-section-liquid > td {
    @apply border-b-0
}

.fc-timegrid-slot.fc-timegrid-slot-label.fc-timegrid-slot-minor,
.fc-timegrid-slot.fc-timegrid-slot-label.fc-scrollgrid-shrink {
    @apply border-0 after:hidden
}

.fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion {
    @apply p-0 
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
    @apply text-center
}

.fc .fc-resourceTimeGridDay-view>table>tbody>tr td:first-child .fc-scroller-liquid-absolute::-webkit-scrollbar {
    @apply bg-white
}
.fc .fc-resourceTimeGridDay-view>table>tbody>tr td:first-child .fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
    @apply bg-white rounded-[10px]
}
.fc .fc-resourceTimeGridDay-view>table>tbody>tr td:first-child .fc-scroller-liquid-absolute::-webkit-scrollbar-track {
    @apply bg-white rounded-[10px]
}

.fc .fc-resourceTimeGridDay-view .fc-scrollgrid-section-header .fc-scroller::-webkit-scrollbar, .fc .fc-resourceTimeGridDay-view .fc-scrollgrid-section-header .fc-scroller::-webkit-scrollbar-thumb {
    @apply bg-white
}

.fc .fc-resourceTimeGridDay-view .fc-scrollgrid-section-header .fc-scroller::-webkit-scrollbar-track, .fc .fc-timeGridDay-view .fc-scrollgrid-liquid>thead .fc-scroller::-webkit-scrollbar-thumb {
    @apply bg-white
}

.fc .fc-resourceTimeGridDay-view .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky > th:last-child .fc-scroller::-webkit-scrollbar {
    @apply w-[5px]
}

.fc .fc-resource-timeline .fc-scrollgrid-liquid .fc-timeline-slot-cushion {
    @apply w-full p-0
}

.fc-datagrid-expander {
    @apply hidden
}

.fc .fc-resource-timeline .fc-scrollgrid-liquid>tbody .fc-scrollgrid-section>td:first-child .fc-datagrid-cell-frame,
.fc .fc-resource-timeline .fc-timeline-lane-frame {
    height: 100px !important;
}

.fc .fc-resource-timeline.fc-resourceTimelineDay-view .fc-scrollgrid-liquid .fc-resource-group:not([rowspan]) .fc-datagrid-cell-frame {
    height: 68px !important;
}

.fc .fc-resource-timeline.fc-resourceTimelineDay-view .fc-scrollgrid-liquid .fc-resource-group:not([rowspan]) .fc-datagrid-cell-frame > div,
.fc .fc-resource-timeline .fc-scrollgrid-liquid>tbody .fc-scrollgrid-section>td:first-child .fc-datagrid-cell-frame > div {
    @apply h-full flex items-center justify-center
}

.fc .fc-resource-timeline .fc-resource-group:not([rowspan]) {
    height: 70px !important;
}

.fc-event.fc-primary {
    @apply bg-primary border-primary
}
.fc-text-primary {
    @apply text-primary
}
.fc-bg-primary {
    @apply bg-primary
}

.fc-event.fc-danger {
    @apply bg-danger border-danger
}

.fc-text-danger {
    @apply text-danger
}
.fc-bg-danger {
    @apply bg-danger
}

.fc-event.fc-success {
    @apply bg-success border-success
}

.fc-text-success {
    @apply text-success
}
.fc-bg-success {
    @apply bg-success
}

.fc-event.fc-warning {
    @apply bg-warning border-warning
}

.fc-text-warning {
    @apply text-warning
}
.fc-bg-warning {
    @apply bg-warning
}

.fc-event.fc-info {
    @apply bg-[#8950fc] border-[#8950fc]
}

.fc-text-info {
    @apply text-info
}
.fc-bg-info {
    @apply bg-info
}

.fc-event.fc-primary-2 {
    @apply bg-[#17c653] border-[#17c653]
}

.fc-text-primary-2 {
    @apply text-[#17c653]
}
.fc-bg-primary-2 {
    @apply bg-[#17c653]
}

.fc-event.fc-secondary {
    @apply bg-[#929293] border-[#929293]
}

.fc-text-secondary {
    @apply text-[#929293]
}
.fc-bg-secondary {
    @apply bg-[#929293]
}

.fc .fc-listWeek-view .fc-day-today {
    @apply hidden
}

.fc .fc-listWeek-view .fc-event {
    --fc-border-color : #ebedf4;
    @apply !bg-white !shadow-none !border-none !text-gray-900;
}


/* .fc .fc-listWeek-view .fc-event {
    @apply flex !p-0
} */

/* .fc .fc-listWeek-view .fc-event  .fc-list-event-time {
    @apply min-w-[110px] w-[110px]
}

.fc .fc-listWeek-view .fc-event .fc-list-event-graphic {
    @apply min-w-[50px] w-[50px]
}

.fc .fc-listWeek-view .fc-event .fc-list-event-title {
    @apply max-w-[calc(100%-240px)];
} */

.fc .fc-listWeek-view .fc-event .fc-list-event-time {
    @apply font-lato font-semibold py-3.5
}

.fc .fc-listWeek-view .fc-event .fc-list-event-title {
    @apply py-3.5 font-medium;
}

.fc .fc-listWeek-view .fc-event .fc-list-event-graphic {
    @apply pr-[14px] pt-4
}

.fc .fc-listWeek-view .fc-event.fc-success .fc-list-event-graphic .fc-list-event-dot {
    @apply border-success
}
.fc .fc-listWeek-view .fc-event.fc-primary .fc-list-event-graphic .fc-list-event-dot {
    @apply border-primary
}
.fc .fc-listWeek-view .fc-event.fc-danger .fc-list-event-graphic .fc-list-event-dot {
    @apply border-danger
}
.fc .fc-listWeek-view .fc-event.fc-warning .fc-list-event-graphic .fc-list-event-dot {
    @apply border-warning
}
.fc .fc-listWeek-view .fc-event.fc-info .fc-list-event-graphic .fc-list-event-dot {
    @apply border-info
}

.fc .fc-listWeek-view .fc-event.fc-primary-2 .fc-list-event-graphic .fc-list-event-dot {
    @apply border-[#17c653]
}

.fc .fc-listWeek-view .fc-event.fc-secondary .fc-list-event-graphic .fc-list-event-dot {
    @apply border-[#929293]
}

.fc .fc-bg-event {
    background: transparent;
    background-image: linear-gradient(45deg, #ddd 25%, transparent 0, transparent 50%, #ddd 0, #ddd 75%, transparent 0, transparent) !important;
    background-size: 4px 4px;
    cursor: not-allowed;
    opacity: 1;
}

.fc .fc-more-popover .fc-popover-body {
    height: 200px;
    overflow: auto;
}

.fc .fc-more-popover .fc-popover-body .fc-event {
    @apply before:hidden after:hidden
}

.fc .fc-listWeek-view .fc-event {
    @apply before:hidden after:hidden
}

.fc-theme-standard .fc-list {
    border: 0;
}

/* HTML: <div class="triangle"></div> */
.triangle-left-top {
    aspect-ratio: 1;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.actions-ctv > .actions-group:first-child {
    max-height: 80vh;
    overflow: auto;;
}

.actions-ctv > .actions-group > div:last-child {
    border: 0 !important;
}

.actions-ctv .color-red > .actions-button-text {
    @apply text-danger font-medium
}

.fancybox__dialog [data-carousel-go-prev],
.fancybox__dialog [data-carousel-go-next] {
    @apply hidden
}

.fancybox__dialog .fancybox__container {
    @apply !pb-safe-b !pt-safe-t
}

.swipe-button__root {
    @apply !border-0
}

.slider__shimmer {
    position: absolute;
    top: 0;
    left: 10%;
    width: 120%;
    height: 100%;
    background-size: 50% 100%;
    z-index: -1;
    animation: sliderShimmer 4s infinite ease-in-out;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    pointer-events: none;
}

.swipe-button__slider {
    @apply text-white shadow-none
}

.swipe-button__rail {
    @apply z-0 pl-7 !rounded-[25px] !overflow-hidden w-full h-full
}

.swipe-button__overlay {
    @apply !rounded-l-[25px]
}

.sw-success .slider__shimmer {
    background-color: rgb(29 197 189 / 20%);
    transition: all 0.3s ease;
}

.sw-danger .slider__shimmer {
    background-color: rgb(241 65 108 / 20%);
    transition: all 0.3s ease;
}

.sw-warning .slider__shimmer {
    background-color: rgb(254 168 0 / 20%);
    transition: all 0.3s ease;
}

.slider__shimmer__text span {
  position: relative;
  display: inline-block;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i))
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-5px)
  }
}


.sw-success {
    --background: 177.18deg 75.89% 43.92%;
    --primary: 177.18deg 75.89% 43.92%;
}

.sw-danger {
    --background: 345.34deg 86.27% 60%;
    --primary: 345.34deg 86.27% 60%;
}

.sw-warning {
    --background: 39.69deg 100% 49.8%;
    --primary: 39.69deg 100% 49.8%;
}

@keyframes sliderShimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-20%);
    }
}
